!!!
#download-file-err
  fieldset
    legend #{legend}
    .alert
      strong Опаньки...
      При генерации приложения что-то пошло не так :(
      br
      Попробуйте сгенерировать приложение заново,
      убедившись что поля заполнены верно.
