!!!
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body

    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand CaRMa
          ul.nav
            li.active
              a(href='/') Генерация приложений

    .container-fluid
      .row-fluid
        .span3
          .well.ramc-sidenav.affix
            ul.nav.nav-list
              li.nav-header Сгенерировать для:
              li.client
                a(href='#client')
                  i.icon-user
                  &nbsp;Клиентов
              li.partner
                a(href='#partner')
                  i.icon-briefcase
                  &nbsp;Партнёров
        .span9
          .ramc-section
            section#container

    #loading-indicator.modal.hide.fade(style='display:none')
      .modal-header
        img.close(src='/img/ajax-loader.gif')
        h4 Генерация
      .modal-body
        p Пожалуйста, подождите...

    script(src="/libs/jquery-2.0.2.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/js/index.js")
